<div class="result-hb">
<br>
<div class="container-fluid">
{{!-- <h3>Restaurants:</h3> --}}
 <table class="table table-hover text-center">
    <thead>
      <tr>
        <th>Restaurant Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Inspection Date</th>
        <th>View Risk</th>
      </tr>
    </thead>
    <tbody>
  {{#each restaurant}}
      <tr>
       <td>{{this.DBA_NAME}}</td>
       <td>{{this.ADDRESS}}</td>
       <td>{{this.CITY}}</td>
       <td>{{this.STATE}}</td>
       <td>{{this.ZIP}}</td>
       <td>{{this.INSPECTION_DATE}}</td>
       <td><form action="/info/{{LICENSE_NO}}" method="POST"><button class="btn btn-danger" type="submit">Risk</button></form></td>
      </tr>
  {{/each}}
    </tbody>
</table>
</div>
  <div class="container-fluid">
    <form method="get" action="/">
      <button class="center btn btn-danger" type="submit">Go Back</button>
    </form>
  </div>
</div>